@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.overflow-y-auto::-webkit-scrollbar {
    width: 3px;
}

.overflow-y-auto::-webkit-scrollbar-track {
    background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 2px;
}

.wall-calendar-book {
    border-radius: 0 0 12px 12px;
}

.stf__parent .stf__item {
    background: transparent !important;
    background-color: transparent !important;
}

.stf__parent {
    border-radius: 0 0 12px 12px;
    overflow: hidden !important;
}

.stf__parent .stf__item input,
.stf__parent .stf__item button,
.stf__parent .stf__item textarea {
    pointer-events: auto !important;
    position: relative;
    z-index: 10;
}